body {
  overflow-x: hidden;
}
section {
  display: flex;
  flex-direction: row;
}
header {
  background-color: #252831;
  color: #ffffff;
  height: 80px;
  width: 100vw;
}
header .container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
header .weather {
  display: flex;
  padding-top: 15px;
}
header .weather ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
header .weather ul li {
  font-size: 18px;
  margin: auto 5px;
}
header .weather ul li span {
  color: #fc6744;
}
#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fc6744;
}
#main .searchNews {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
}
#main .searchNews input {
  width: 25%;
  height: 40px;
  padding: 10px;
  padding-left: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: #252831;
  color: #252831;
}
#main .searchNews input:focus,
#main .searchNews input:visited {
  outline: none;
}
#main .searchNews button {
  border: none;
  background-color: #252831;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  width: 10%;
  font-weight: bold;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#main .searchNews button:hover {
  background-color: #ffffff;
  color: #252831;
}
#main .searchNews button:focus,
#main .searchNews button:visited {
  outline: none;
}
#main .content {
  display: flex;
  flex-direction: row;
}
#main .content .news {
  width: 50%;
  justify-content: flex-start;
}
#main .content .news .newsItem {
  flex-direction: row;
  margin: 20px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#main .content .news .newsItem h2 {
  text-align: center;
  font-style: italic;
}
#main .content .news .newsItem .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main .content .news .newsItem .info span {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-style: italic;
}
#main .content .news .newsItem .info .newsLike {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}
#main .content .news .newsItem .info .newsLike i.fa {
  color: #6e6e6e;
  font-size: 20px;
}
#main .content .news .newsItem .info .newsLike:hover,
#main .content .news .newsItem .info .newsLike:focus,
#main .content .news .newsItem .info .newsLike:visited {
  outline: none;
}
#main .content .saveNews {
  width: 50%;
  justify-content: flex-end;
}
#main .content .saveNews .saveNewsItem {
  flex-direction: row;
  margin: 20px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
#main .content .saveNews .saveNewsItem h2 {
  text-align: center;
  font-style: italic;
}
#main .content .saveNews .saveNewsItem span {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-style: italic;
}
#main .content .saveNews .saveNewsItem .newsDelete {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}
#main .content .saveNews .saveNewsItem .newsDelete i.fa {
  color: #6e6e6e;
  font-size: 20px;
}
#main .content .saveNews .saveNewsItem .newsDelete:hover,
#main .content .saveNews .saveNewsItem .newsDelete:focus,
#main .content .saveNews .saveNewsItem .newsDelete:visited {
  outline: none;
}
