///////////////////// 		colors  	///////////////////////
@black: #000;
@white: #fff;
@news-bg: #f5f5f5;
@header-bg: #01579b;
@orange: #fc6744;
@base-text: #6e6e6e;
@green: #00a65a;
@red: #dd4b39;
@yellow: #f39c12;
@aqua: #00c0ef;

//////////////////////// 		basic settings   	////////////////////
body{
	overflow-x: hidden;	
}

section{
	display: flex;
	flex-direction: row;
}

///////////////////////			header    	    ///////////////////////////
header{
	background-color: @header-bg;
	color: @white;
	height: 80px;
	width: 100vw;
	.container{
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: space-between;
	}
	.weather{
		display: flex;
		padding-top: 15px;
		ul{
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
			display: inline-flex;
			align-items: center;
			li{
				font-size: 18px;
				margin: auto 5px;
				span{
					color: @orange;
				}
			}
		}
	} 
	
}

///////////////////////			section  		///////////////////////////
#news{
	width: 50%;
	background-color: @green;
	.newsItem{
		display: flex;
		flex-direction: column;
		margin: 20px;
		padding: 10px 20px;
		background-color: @news-bg;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		h2{
			text-align: center;
			font-style: italic;
		}
		span{
			display: flex;
			justify-content: flex-start;
			font-weight: bold;
			font-style: italic;
		}
		.newsLike{
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: flex-end;
			i.fa{
				color: @base-text;
				font-size: 20px;
			}
			&:hover, &:focus, &:visited{
				outline: none;
			}
		}	
	}
}

#saveNews{
	width: 50%;
	background-color: @yellow;
	.saveNewsItem{
		display: flex;
		flex-direction: column;
		margin: 20px;
		padding: 10px 20px;
		background-color: @news-bg;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		h2{
			text-align: center;
			font-style: italic;
		}
		span{
			display: flex;
			justify-content: flex-start;
			font-weight: bold;
			font-style: italic;
		}
		.newsDelete{
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: flex-end;
			i.fa{
				color: @base-text;
				font-size: 20px;
			}
			&:hover, &:focus, &:visited{
				outline: none;
			}
		}
	}
}