<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<head>
	<meta charset="UTF-8">
	<title>Altarix test</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="bundle.js"></script>
</head>
<body>
	<header ng-controller="WeatherCtrl">
		<div class="container">
			<div class="page-title">
				<h2>JavaScript project</h2>
			</div>		
			<div class="weather">
				<ul>
					<li><span>{{weather.name}}</span></li>
					<li>Погода: {{weather.weather[0].main}}</li>
					<li>Температура: {{weather.main.temp}}&deg;С</li>
					<li>Скорость ветра: {{weather.wind.speed}} м/с</li>
					<li>Давление: {{weather.main.pressure}}</li>
					<li>Влажность: {{weather.main.humidity}}%</li>
				</ul>
			</div>
		</div>
	</header>
	<section id="main" ng-controller="NewsListCtrl">
		<div class="searchNews">
			<input type="text" ng-model="query" placeholder="Search...">
			<button ng-click="searchData()">Find <i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
		<div class="content">
			<div class="news">
				<div ng-repeat="newsItem in newsList" class="newsItem">
					<h2 ng-bind="newsItem.headline.main"></h2>
					<p ng-bind="newsItem.snippet"></p>
					<div class="info">
						<span ng-bind="newsItem.pub_date | date: 'dd.MM.yyyy'"></span>
						<button ng-click="saveData(newsItem)" class="newsLike"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
			<div class="saveNews" ng-controller="OutputDataCtrl">
				<div class="saveNewsItem" ng-repeat="data in returnData">
					<h2 ng-bind="data.title"></h2>
					<p ng-bind="data.news"></p>
					<span ng-bind="data.date"></span>
				</div>
			</div>
		</div>
	</section>
</body>
</html>